// 1. Import the initial variables
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";
$calendar-border-radius: $radius-large;
@import '~bulma/bulma';
@import '~bulma-calendar/dist/css/bulma-calendar';
body {
    font-size: 16px;
    line-height: 1.5;
    height: 100%;
}

.color-picker {
    border-radius: 2px;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(0, 0, 0, .1);
    float: left;
    height: 24px;
    margin-right: 8px;
    width: 24px;
}